# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Local build directories
.build/
build/
build/**

# CMake/Ninja artifacts
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.ninja
.ninja_log
.ninja_deps
compile_commands.json

# VSCode / tooling
bin/

# vscode
.vscode/
.ropeproject/

# Tests output
Testing/

# Local assets not for source control
assets/games/
